[submodule "library"]
	path = library
	url = git@gitlab.in2p3.fr:BenKrikler/library.git
[submodule "figs/feynman"]
	path = figs/feynman
	url = git@github.com:benkrikler/MuEConvFeynamDiagrams.git
[submodule "nufact15-alcap-proceedings"]
	path = nufact15-alcap-proceedings
	url = https://github.com/benkrikler/nufact15-alcap-proceedings.git
